{% block content %}

	<blockquote>
		<p>{{chunk.quote_text}}</p>
		<footer>
			&dash; <cite><a href="{{chunk.quote_source_url}}" target="blank">{{chunk.quote_source}}</cite></a>
		</footer>
	</blockquote>


{% endblock %}
