{% extends "base.twig" %}

{% block content %}
<div class="fof">
	<h1>Oops!</h1>
	<h2>Wrong turn. We can't seem to find the page you're looking for.</h2>
	<h3>Error code: 404</h3>
	<p>Check out some of our popular content</p>
	<ul>
		<li>Financial Planning Checklist</li>
		<li>Popular Posts</li>
		<li>Newsletter signup</li>
		<li>Contact Us</li>
		<li>Sitemap</li>
	</ul>
	</div>
{% endblock %}
