// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

@mixin button( $button-color, $text-color: $utility-white ) {
	background-color: $button-color;
	font-weight: $font-weight-strong;
	border-radius: 40px;
	color: $text-color;
	padding: 20px;
	width: 250px;
	text-decoration: none;
	cursor: pointer;

	&:hover,
  &:focus {
  	background: $digital-blue-light;
    color: $text-color;
  }

  &:active {
    background: $digital-blue-light;
		}
}

.btn {
		@include upperspace;
    display: inline-block;
    padding: $size-sml;
    margin-top: $size-sml;
    margin-bottom: $size-sml;
    font-size: 1.250em;
    font-family: $font-btn;

    &.-readmore {
        @include button($color-notice-info);
    }

    &.-danger {
        @include button($color-notice-error);
    }

    &.-success {
        @include button($color-notice-success);
    }

    &.-warning {
        @include button($color-notice-warning);
    }

		&.-cta {
				@include button ($brand-blue);
		}

}
