
// ---
// Forms
// ---

// Forms styles here!

// See some responsive form strategies here:
// http://bradfrost.github.io/this-is-responsive/patterns.html
// Actually, just use all of those strategies.

// Here are the basic form selectors I usually style:
// (much inspired by the setup from http://themble.com/bones)

// Remove the blue outline from Chrome and replace with something nicer.
*:focus {
    outline: 1px dotted $color-accent-light;
}

label, select {
	display: block;
}

label {
}

input[type="search"] {
	-webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"] {

	width: 100%;
	border: 1px solid $border-accent;

	&:focus {
		border-color: $border-accent-light;
    background-color: $color-accent-vlight;
	}
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-right: $size-xsml;
	line-height: normal;
	cursor: pointer;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
}

input[type="submit"],
button {
}

select,
input[type="file"] {
	*margin-top: 4px; /* In IE7, the height of the select element cannot be changed by height, only font-size */
}

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
	outline: $border-accent;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

fieldset {
	border: 0;
}

// Search

.search-form {
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
}

input[type="search"] {
	background-color: transparent;
	border: none;
	transition: 0.3s ease all;
	padding-top: $size-xsml;

	&:focus,
	.search & {
		width: auto;
	}
}

.search-label {
	margin-top: $size-xsml;
	margin-bottom: 0;
	border-right: $border-accent-light;
}

.search-icon {
	fill: $color-accent-light;
	max-width: $size-sml;
}

.search-submit {
	display: none;
}
