.site-nav {
  // transition: 0.5s all ease-in-out;
  // background-color: yellow;
}

.site-nav {
    max-height: 0;
    // background-color: green;
    overflow: hidden;
    flex-direction: column;
    display: flex;
    align-items: center;

    @include bp(nav) {
      flex-direction: row;
      max-height: none;
      margin-left: auto;

  		ul {
  			display: flex;
  	    align-items: flex-start;
  		}
    }
}

.site-nav > ul > li {
	padding-left: 20px;
  padding-right: 20px;
  font-weight: $font-weight-strong;
	font-size: 14px;
  @include upperspace;


  a {
    color: $color-accent-dark;
  }

  a:hover {
    border-bottom: 2px solid $color-link;
    color: $color-link;
  }
}

.site-nav li li {
  padding-left: 0;
	line-height: $size-h3;

  &:hover {
    color: $color-link;
  }

  a:hover {
    color: $color-link;
    border-bottom: 2px solid $color-link;

  }
}

.nav,
.nav-drop {
    align-self: center;
    position: absolute;
    max-height: 0;
}

.nav-drop {
    flex-direction: column;
    overflow: hidden;
    z-index: 1;
}

.nav-trigger {
  margin-left: auto;
  @include bp(nav) {
    display: none;
  }
}

.site-nav li:hover > .nav-drop {
  max-height: 100%;
	background-color: $color-accent-light;
  border-bottom: 4px solid $brand-green;
	padding: 20px;

}

.open {
    max-height: none;
}

// Dropdown Nav indicator
.menu-item-has-children > a {
	&:after {
		content: "▾";
		font-size: $size-sml;
	}
}

// Breadcrumbs
.main-breadcrumbs {
  font-size: $size-sml;
  margin-bottom: $size-base;
  margin-top: $size-base;
  padding-bottom: $size-sml;
}
