{% extends 'blocks/base.twig' %}

{% block block_content %}

{% set img = TimberImage(block.image) %}

<figure class="block-figure - {{block.size}}">

{#
  1200 desktop
  900 desktop
  600 tablet
  500 mobile
#}

  {% include 'blocks/srcset.twig' with { id: block.image, class: 'full-image' } %}


  {# <img data-src="{{img.src}}" class="full-image lazyload" alt="" /> #}
  {% if img.caption %}
  <figcaption>
    <p class="caption">{{img.caption}}</p>
  </figcaption>
  {% endif %}
</figure>

{% endblock %}
