.service-icons-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.service-icon {
  display: flex;
  flex-direction: column;
  flex: 1 200px;
  text-align: center;
}

.service-icon-img {
  display: flex;
  justify-content: center;
}

.service-icon-title {

}

.service-icon-btn {

}

.service-icon-text {

}
