.service-icons-list,
.process-items-list,
.featured-posts-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}


.service-icon,
.process-item {
  display: flex;
  flex-direction: column;
}

.service-icon {
  text-align: center;
  flex: 1 200px;
}

.service-icon-img {
  display: flex;
  justify-content: center;
}

.service-icon-title {

}

.service-icon-btn {

}

.service-icon-text {

}


// Process Items

.process-items-list {
  flex-wrap: wrap;
}

.process-item {
  width: 50%;
}

.process-item-title {

}

.process-item-text {

}



// Section Styles

.front-page-section {
  &.-gray {
    background-color: gray;
  }
}

.front-page-section-title,
.front-page-section-subtitle {
  text-align: center;
}
