.header-wrapper {
    padding-left: 2em;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 3px solid $digital-blue-dark;
}

.site-header {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-end;
    justify-content: space-between;
}

.site-brand {
    display: flex;
    align-items: center;
    width: 100%;
    @include bp(nav) {
      width: auto;
    }
}

.site-logo {
    width: 200px;
}

.site-logo img {
    max-width: 100%;
}



.site-social {
    display:  flex;

    ul {
      display: flex;
    }

    li {
      padding-left: 10px;
    }
}

.site-content,
.site-footer {
  color: $utility-white;
  padding: 1em;
}

.site-content {
  flex: 1;
}

.site-footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.site-disclosure {
  color: $utility-white;
  background-color: #30302F;
  padding: 20px;

  p {
    font-size: $size-sml;
    line-height: 1rem;
  }

  a {
    color: $brand-green;
  }
}

.header-wrapper {
  display: flex;
  flex-direction: row;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

.callout-bar {
  border-bottom: .44rem solid #e6e6e6;
  background-color: $digital-blue-dark;
  color: $color-text-light;
  padding: $size-xsml;
  text-align: center;

  p {
    margin: 0;
    font-size: $size-sml;
  }
}

.brokercheck-bar {
  background-color: $color-accent-dark;
  color: $color-text-light;
  padding: $size-xsml;
  text-align: center;

  p {
    margin: 0;
    font-size: $size-base;
  }

  a {
    color: $digital-green-dark;
    border-bottom: 1px dotted $utility-white;
    &:hover {
      color: $utility-white;
    }
  }
}


.team-container {
  display: flex;
  flex-flow: row wrap;
}
.team-left {}
.team-right {}
